@import "tailwindcss";

@font-face {
  font-family: 'Mulish';
  src: url('../assets/fonts/Mulish/Mulish-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fluo';
  src: url('../assets/fonts/Mulish/CHERL___.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chicago';
  src: url('../assets/fonts/Mulish/Chicago.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sheep';
  src: url("../assets/fonts/Mulish/Hey Comic.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

.animated-underline {
  position: relative;
  cursor: pointer;
}

.animated-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px; /* grosor del subrayado */
  bottom: -4px; /* espacio justo debajo del texto */
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.animated-underline:hover::after {
  width: 100%;
}

.primary-color{
  background-color: #088408;
}
.secondary-color{
  background-color: #075C07;
}
.font-mulish{
  font-family: 'Mulish', sans-serif;
}
.font-sheep{
  font-family: 'sheep', sans-serif;
}
.font-chicago{
   font-family: 'Chicago', sans-serif;
}

.font-flow{
   font-family: 'Fluo', sans-serif;
}